doctype html
link(rel='stylesheet' href='css/student3.css')

head
    title Harry Potterology - Nate Weddle
body
    h1 Nate Weddle
    h2 You will learn everything there is to know about Harry Potter
    p A complete degree in Harry Potter history and magic (a history of magic if you will)!
    section 
        //Single paragraph, describe universities location (anywhere)
        h2 Location
        p Hogwarts is located in a valley area of the Scottish Highlands. Just south of the castle is the Great Lake, home to a giant squid that often makes an appearance above the surface. Also nearby 
            is the village of Hogsmeade, the only all-wizarding community in Britain.
    section 
        //3 subsections (each using a section tag) with h3 headings. Each paragraph describes something about the major
        h2 About
        section 
            h3 Defense Against the Dark Arts
            p Arm yourself with the best spells to defend yourself from dark witches and wizards. Study how to defned against curses, hexex, and jinxes. Practice duelling. Protective enchantments.
                Learn about dangerous creatures and the best ways to combat them. 
        section 
            h3 Potions
            p Learn about the subtle science and exact art of potion making. You'll discover how to bottle fame, brew glory, and even stopper death. Use magical ingredients with specific recipes
                to create potions.
        section 
            h3 Transfiguration 
            p Magic focused on altering the form and/or appearance of an opject. As you get better, you'll even learn how to transfigure animals and people. 
        section 
            h3 Herbology 
            p Grow magical plants that have a variety of different uses. These include anything from brewing potions, to curing petrification, to even offensive plants you can use against your enemies!
        section    
            h3 Charms 
            p A more creative approach to magic, where you can learn spells that are helpful in a wide variety of ways. You'll be able to do things like levitating objects, summoning things, and making artificial light.   
    section 
        //Unordered list of things people can do with this major
        h2 Things To Do
        ul 
            li Auror 
            li Ministry of Magic 
            li Shop 
            li 
    //At least 2 images that show just how cool Hogwarts is
    //Display a maximum of 5 randomly selected comments from my database in a ul, should be 0 at first
    //Must add a new Comments page that will allow people to add, delete, and update comments on the site
    h2 Comments Page 
    p 
        a(href='/comments3') comments 
    ul
        li 

