doctype html
link(rel='stylesheet' href='css/student2.css')

head
    title (GIMM) Games, Interactive Media, and Mobile (Bachelor's)
body
    h1 Cody Swinnerton
    h2 GIMM
    section
        h2 Location
            p Paragraph describing University's location 
    section
        h2 About
            section
                h3 Games
                    p Paragraph detailing the "Games" portion.
            section
                h3 Interactive Media
                    p Paragraph detailing the "Interactive Media" portion.
            section
                h3 Mobile
                    p Paragraph detailing the "Mobile" portion.
    section
        h2 Things to Do
            ul 
                li Thing 1
                li Thing 2
                li Thing 3
    section
        a(href='/student2/comments') Comments