doctype html
html(lang='en')
  head
    title Egyptology - Hector Mendez-Garcia
    link(rel='stylesheet' href='css/student1.css')
  
  body
    h1 Hector Mendez-Garcia
    
    h2 Egyptology: Ancient Mysteries Unveiled
    
    section
      h2 Location
      p Our prestigious Egyptology program is located at Boise State Univesity, have the opportunity to be situated in the heart of the ancient city of Memphis, Egypt. Our campus is located in Boise,Idaho and as you progress through the degree you will take frequent trips to actual archaeological sites, providing students with hands-on experience in their studies.
    
    section
      h2 About
      section
        h3 Archaeological Training
        p Students receive comprehensive training in archaeological techniques, including site surveying, excavation methods, and artifact preservation. Our program provides access to active dig sites and state-of-the-art laboratory facilities.
      
      section
        h3 Ancient Language Studies
        p Master hieroglyphics, Coptic, and ancient Egyptian dialects through our intensive language program. Our faculty includes world-renowned linguists specializing in ancient Egyptian texts and inscriptions.
      
      section
        h3 Cultural Immersion
        p Experience Egyptian culture firsthand through our immersive program, including field trips to historical sites, participation in local festivals, and collaborative projects with Egyptian museums and research institutions.
    
    section
      h2 Activities
      ul
        li Participate in archaeological excavations at active dig sites
        li Study and translate ancient hieroglyphic texts
        li Intern at the Egyptian Museum in Cairo
        li Conduct research on ancient Egyptian artifacts
        li Participate in mummy conservation projects
        li Join expeditions to newly discovered tombs
        li Present findings at international archaeology conferences
    
    div.image-gallery
      div.image-container
        img.site-image(src='/img/egyptianpyramid.png' alt='Pyramids of Giza at a magnificent sunset')
        p.image-description Experience the breathtaking pyramids of Giza at sunset, where ancient wonders meet natural beauty.
      div.image-container
        img.site-image(src='/img/Exhibits_photo1.png' alt='Students examining ancient artifacts')
        p.image-description Our students gain hands-on experience examining and documenting priceless artifacts in our state-of-the-art facilities.
    
    section#comments-section
      h2 Most Recent Comment
      if comment
        div.comment-item
          p.comment-author= comment.author
          p.comment-content= comment.content
      else
        p No comments yet!
    
    a.comment-link(href='/comments') View and Manage Comments
